@use "vars";

.best-sellers {
  padding-left: 98px;
  padding-top: 140px;
  display: flex;
  .best-sellers-more {
    margin-right: 86px;
    margin-top: 56px;
    margin-bottom: 56px;
    h2 {
      font-family: vars.$font-family-r;
      color: vars.$color-text;
      font-style: normal;

      font-size: 32px;
      font-weight: 500;
      line-height: 130%;
    }
    p {
      color: #122947;
      font-family: vars.$font-family;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      width: 214px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    button {
      width: 155px;
      height: 41px;
      border-radius: 2px;
      border: 1px solid #b3bac1;
      color: #122947;
      font-family: vars.$font-family;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
    }
  }

  .best-seller__wrapper {
    display: flex;
    gap: 30px;
  }

  .best-seller {
    display: none;
    background: url('../assets/img/cream_1.png'), lightgray 50% / cover no-repeat;
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 230px;
    height: 312px;
    justify-content: center;
    // img{
    //   height: 312px;
    // }
    .description {
      padding-top: 220px;
      padding-bottom: 25px;
      text-align: center;
      .best-seller_decsr-h3 {
        color: #122947;
        font-family: vars.$font-family-r;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
      }

      .best-seller_decsr-p {
        margin-bottom: 10px;

        color: #9a9da0;
        font-family: vars.$font-family;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
      }
      .best-seller_decsr-btn {
        color: #122947;
        font-family: vars.$font-family;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        width: 70px;
        border-bottom: 1px solid #122947;
      }
    }
  }
}

.best-seller.active {
  display: flex;
}
.best-seller_link {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  margin-top: 25px;
  .link {
    @include vars.link;
  }
}
