@use "vars";
@use "catalog";

.best-sellers {
  padding-left: 98px;
  padding-top: 140px;
  display: flex;
  .best-sellers-more {
    margin-right: 86px;
    margin-top: 56px;
    margin-bottom: 56px;
    h2 {
      font-family: vars.$font-family-r;
      color: vars.$color-text;
      font-style: normal;

      font-size: 32px;
      font-weight: 500;
      line-height: 130%;
    }
    p {
      color: #122947;
      font-family: vars.$font-family;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      width: 214px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    button {
      width: 155px;
      height: 41px;
      border-radius: 2px;
      border: 1px solid #b3bac1;
      color: #122947;
      font-family: vars.$font-family;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
    }
  }

  .best-seller__wrapper {
    display: flex;
    gap: 30px;
    // overflow: hidden;
  }

  .best-seller {
    display: none;
    // background: url('../assets/img/cream_1.png'), lightgray 50% / cover no-repeat;
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 230px;
    height: 312px;
    justify-content: center;
    // img{
    //   height: 312px;
    // }
    .description {
      padding-top: 220px;
      padding-bottom: 25px;
      text-align: center;
      .best-seller_descr-h3 {
        color: #122947;
        font-family: vars.$font-family-r;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
      }

      .best-seller_descr-p {
        margin-bottom: 10px;

        color: #9a9da0;
        font-family: vars.$font-family;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
      }
      .best-seller_descr-btn {
        color: #122947;
        font-family: vars.$font-family;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        width: 70px;
        border-bottom: 1px solid #122947;
      }
    }
  }
}

.best-seller.active {
  display: flex;
}
.best-seller_link {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  margin-top: 25px;
  .link {
    @include vars.link;
  }
}

.popup{
    position: fixed;
    top: 5%;
    left: 0;
    background:rgba(247, 247, 245, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
    opacity: 0;
    visibility: hidden;
    padding: 50px;
  input{
      appearance: auto;
  }
  
      .catalog_big-item{
          border-top: #DBDCE0 1px solid;  
          max-width: 1070px;
          margin: auto;
      display: flex;
      gap: 70px;
      padding-top: 40px;
      padding-bottom: 140px;
      position: relative;
      .big-item{
         width: 630px;
          height: 647px;
          background-repeat: no-repeat;
          background-size: cover;
     
      }
  .big-item-descr{
      padding-top: 49px;
      max-width: 370px; 
  
  
      .style-app-comp{
          font-weight: 500;
          cursor: pointer;
      }
  
      .style-div{
          height: 52px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          p{
              @include vars.p; 
              font-weight: 500
          }
      
         
       
  
  
      
      }  
      .descr{
          @include vars.p; 
          font-size: 16px;
          padding-bottom: 45px;
          border-bottom: #B3BAC1 1px solid;
      }
     
      .descr-short{
          @include vars.p; 
              margin-top: 15px;
              color: #9A9DA0;
              font-size: 16px;
              margin-bottom: 48px
          }
      h3{
          @include vars.h2;
      }
    
      button{
          @include vars.btn;
          width: 214px;
      }
  }
  
   }
  
  }
  .volume{
      border-top: #B3BAC1 1px solid;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      padding-top: 45px;
      margin-bottom: 45px;
      p{
          @include vars.p; 
          font-weight: 500
  
          
      }
      label{
          @include vars.p; 
          font-weight: 500;
          cursor: pointer;
          
      }
     
     }

     .popup-on{
      visibility: visible;
      opacity: 1;
  
  }

  
.minus{
  display: none;
  cursor: pointer;
}
.a-minus{
  display: none;
  cursor: pointer;
}
.open{
  display: block;
  cursor: pointer;
}
.close{
  display: none;
  cursor: pointer;
}
.p-composition{
  padding-bottom: 20px;
  display: none;
  @include vars.p; 
  font-size: 14px;
 
//  border-bottom: #B3BAC1 1px solid;
}

.p-composition.open{
  display: block;

}

.p-application{
  display: none;
  padding-bottom: 20px;
  @include vars.p; 
  font-weight: 14px;
 
}
.p-application.open{
  display: block;

}
.border{
  border-top: #B3BAC1 1px solid;
}